/*
Author: Kevin Bolanos
Date:: 3/27/24
file name: style.css
*/

/*  css Reset */

body, header, nav,main, footer, img, h1 { 
    margin: 0;
    padding: 0;
    border: 0;
    }
    /* style rule for imgages content*/
    
    img {
        max-width: 100%;
        display: block;
    }

    /*style rule for moboile viewport*/


    /*hide tab-desk class*/

    .hide-desk{
        display: none;
    }
    
    /* style rule for header content*/
    
    header{
        text-align: center;
        font-size: 1.5em;
        color: #373684;
    }
    
    header h1 {
        font-family: 'dm serif display';
        font-style: none;
    }
    
    /* style rule for navigation area */
    nav {
        background-color: #373684;
    }
    nav ul{
        list-style-type: none;
        margin: none;
        text-align: center;
    }
    
    nav li{
        display: block;
        font-size: 2em;
        border-top: 1px solid #e5e9fc;
    }
    
    nav li a{
        display: block;
        color: #fff;
        text-align: center;
        padding: 0.5em 1em;
        text-decoration: none;
    }
    
    /* Style rules for main content */
    main  {
        padding: 2%;
        background-color: #e5e9fc;
        overflow: auto;
        font-family: 'roboto';
    }
        
        main p {
            font-size: 1.25em;
        }
        .action  {
            font-size: 1.25em;
            color: #373684;
            font-weight: bold;
        }
    
         #piano, #guitar, #violin {
            width: none;
            float: left;
            margin: 0 2%;
        }
    
        .info  {
            clear: left;
            background-color: #c0caf7;
            padding: 1% 2%;
        }

        #info ul{
         margin-left: 10%;

        }

        /*style rule for round to the three images*/

        .round-to-the-three-image-elements{
            border-radius: 8px;;
        }

        .tel-link { 
        background-color: #373684;
        color: #fff;
        padding: .1%;
        margin: 0 auto;
        width: 80%;     
        text-align: center;     
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
        }
        
        #contact .email-link {
            text-align: center;
        }
        #contact a {
            color: #4645a8;
            text-decoration: none;
            font-weight: bold;

        }

        .map  {
            border: 5px solid #373684;
            width:  95%;
            height: 50%;
        }
    
            /* Style rules for footer content */
            footer  {
                text-align: center;
                font-size: 0.65em;
                clear: left;
            }
            footer a {
                color: #4645a8;
                text-decoration: none;
            }
    
            .wrap{
                text-wrap: wrap;
                color: lightblue ;
                font-weight: bold;
                
            }

            .dm-serif display-regular {
                font-family: "DM Serif Display", serif;
                font-weight: 400;
                font-style: normal;
              }
              
              .dm-serif display-regular-italic {
                font-family: "DM Serif Display", serif;
                font-weight: 400;
                font-style: italic;
              }
              
              .roboto-thin {
                font-family: "Roboto", sans-serif;
                font-weight: 100;
                font-style: normal;
              }
              
              .roboto-thin-italic {
                font-family: "Roboto", sans-serif;
                font-weight: 100;
                font-style: italic;
              }
              
              .roboto-light {
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;
              }
              
              .roboto-light-italic {
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: italic;
              }
              
              .roboto-regular {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
              }
              
              .roboto-regular-italic {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: italic;
              }
              
              .roboto-medium {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-style: normal;
              }
              
              .roboto-medium-italic {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-style: italic;
              }
              
              .roboto-bold {
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-style: normal;
              }
              
              .roboto-bold-italic {
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-style: italic;
              }
              
              .roboto-black {
                font-family: "Roboto", sans-serif;
                font-weight: 900;
                font-style: normal;
              }
              
              .roboto-black-italic {
                font-family: "Roboto", sans-serif;
                font-weight: 900;
                font-style: italic;
              }
              
  /* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print {
}
  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk {
      display: block;
  }
  .mobile {
      display: none;
  }

  /* Tablet Viewport: Style rule for header content */
  span.tab-desk {
      display: inline;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav li {
      border-top: none;
      display: inline-block;
      font-size: 1.5em;
      border-right: 1px solid #e5e9fc;
  }

  nav li:last-child {
      border-right: none;

  }
  nav li a {
        padding-top:    0.25em;
        padding-bottom: 0.25em;
        padding-left:   0.5em;
        padding-right:  0.5em; /* Top/Bottom, Left/Right */
    }

      /* Tablet Viewport: Style rule for map */
      .map {
          width: 500px;
          height: 450px;
      }
      /* Media Query for Desktop Viewport */

@media screen and (min-width: 769px), print {

    /* Desktop Viewport: Style rule for header */
    header {
        padding: 2%;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav li a {
        padding: 0.5em 1.5em; /* Top/Bottom, Left/Right */
    }
    
    nav li a:hover {
        color: #373684;
        background-color: #e5e9fc;
    }

    /* Desktop Viewport: Style rules for main content */
    #info ul {
        margin-left: 5%;
    }

    main h3 {
        font-size: 1.5em;
    }

    #piano, #guitar, #violin {
        width: 29%;
        float: left;
        margin: 0 2%; /* Top/Bottom, Left/Right */
    }
}
/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}


  


